<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet"/>
</head>

<body>
  
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark-gray fixed-top">
  <div class="container-fluid navbar-div">
    <a class="navbar-brand" href='/'><img src="/assets/full_logo_white.png" alt="full logo white" class="icon-mrcoffee-navbar"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav text-nowrap">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Log in</a>
          <div class="dropdown-menu navbarDropdownMenu">
            <a class="dropdown-item" href="/login">Log in</a>
            <a class="dropdown-item" href="/signup">Sign up</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="/logout">Log out</a>
          </div>
        </div>
        <a class="nav-link" href='/users'>Users</a>
        <a class="nav-link" href='/schedules'>Schedules</a>
      </div>
    </div>
  </div>
</nav>

<!-- HEADER -->
<header>
  <div class="container">
    <img class="logo-header" src="/assets/logo_mrcoffee.png" alt="logo mrcoffee">
  </div>
</header>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
